/* Layout */
body {
	background: #272822;
}
.fs-section {
	padding: 40px;
}
@media (min-width: 920px) {
	.fs-section {
		padding: 90px 20px;
	}
	.fs-section > .wrap {
		margin: 0 auto;
		max-width: 800px;
	}
}

/* Typography */
strong {
	color: #333;
	font-weight: 500;
}

/* Images */
.screenshot {
	border: 1px solid #ddd;
	border-radius: 2px;
	padding: 4px;
}

/* Branding */
.btn.btn-primary,
[type=submit].btn-primary {
	background-color: #2c2d27;
	color: #a6e22e;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
[type=submit].btn-primary:hover,
[type=submit].btn-primary:focus {
	background-color: #a6e22e;
	color: #101010;
}

/* Header */
.site-header {
	background: #2c2d27;
	position: relative;
}
.site-logo-container {
	color: #aaa;
	margin: 0;
	padding: 2px 0 0 20px;
}
.site-logo-container > li {
	display: none;
}
.site-logo-container > li:first-child {
	display: block;
}
.site-logo-container > li > a {
	display: block;
	float: left;
	padding: 15px 0;
}
.site-logo-container > li > span {
	font-size: 14px;
	line-height: 50px;
	padding: 0 8px;
}
.fs-menu-toggle {
	position: absolute;
	top: 10px;
    right: 20px;
}
.site-follow {
	display: none;
	margin: 0;
	padding: 0 24px;
}
.site-follow.show {
	display: block;
}
.site-follow > li {
	float: left;
	display: inline-block;
}
.site-follow > li > a {
	color: rgba(255, 255, 255, 0.8);
	font-size: 20px;
	line-height: 52px;
	padding: 0 4px;
}
.site-follow > li > a:hover,
.site-follow > li > a:focus {
	color: #fff;
}
.site-menu {
	display: none;
	padding-top: 0;
}
.site-menu.show {
	display: block;
}
.site-menu > li.current > a {
	color: #a6e22e;
}
.site-menu .menu-btn.highlight {
	border: 1px solid #fff;
	border-radius: 1px;
	color: #fff;
	/*font-weight: 800;*/
}
.site-menu .menu-btn.highlight:hover,
.site-menu .menu-btn.highlight:focus {
	background: #fff;
	color: #333;
}
@media (max-width: 919px) {
	.site-menu .download {
		display: none;
	}
}
@media (min-width: 920px) {
	.site-header {
		height: 56px;
	}
	.site-logo-container {
		float: left;
	}
	.site-logo-container > li {
		display: inline-block;
		float: left;
	}
	.site-logo-container > li > a {
		float: none;
	}
	.fs-menu-toggle {
		display: none;
	}
	.site-follow,
	.site-follow.show {
		float: left;
		display: flex;
		padding: 2px 0 0 15px;
	}
	.site-menu,
	.site-menu.show {
		float: right;
		display: flex;
		padding: 0;
		position: absolute;
		top: 50%;
		right: 12px;
		-webkit-transform: translate(0, -50%);
		transform: translate(0, -50%);
	}
	.site-menu .download {
		padding-right: 5px;
		padding-left: 5px;
	}
}

/* Footer */
.site-footer {
	background: #272822;
	color: #ccc;
	font-size: 14px;
	line-height: 1.8;
	padding: 50px 20px;
	text-align: center;
}
.site-footer a {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	color: inherit;
    padding-bottom: 2px;
}
.site-footer a:hover,
.site-footer a:focus {
	border-color: #a6e22e;
	color: #a6e22e;
}

/* Home Section: Intro */
.section-intro {
	background: #fff;
}
.section-intro .img-holder {
	margin-bottom: 40px;
}
@media (min-width: 920px) {
	.section-intro {
	 	font-size: 24px;
	}
	.section-intro p {
		margin-left: auto;
		margin-right: auto;
		max-width: 650px;
	}
}

/* Home Section: Download */
@media (max-width: 919px) {
	.section-download {
		display: none;
	}
}
.section-download {
	background: #f8f8f8;
}
#download label {
	font-size: 18px;
}
#download .help-text {
	display: block;
	font-size: 15px;
}
#download .alert {
	margin-top: 10px;
}
#download code {
	background: #fff;
}
#download .btn-primary {
	margin-top: 60px;
}
input[type=date]:focus,
input[type=datetime-local]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=range]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
textarea:focus,
select:focus {
	border-color: #a6e22e;
}

/* Home Section: Code Block */
.section-code {
	background: #2c2d27; /* a little darker than monokai */
	color: #fff;
	display: none;
}
.code-explain {
	font-size: 22px;
	margin-bottom: 30px;
}
.code-explain code {
	background-color: #1b1b1b;
    color: #fff;
}
.code-block {
	background-color: #272822; /* matches monokai */
    padding: 20px;
}
.code-reset {
	color: rgba( 255, 255, 255, 0.75 );
	font-size: 40px;
	position: absolute;
	top: 15px;
	left: 30px;;
}
.code-reset:hover,
.code-reset:focus {
	color: #fff;
}

/* Standard Pages */
.site-content {
	background: #fff;
	padding: 40px;
}
@media (min-width: 920px) {
	.site-content {
		background: #f8f8f8;
		padding: 50px 20px;
	}
	.site-content > article {
		background-color: #fff;
		-webkit-box-shadow: 0 0 4px rgba(0,0,0,.05);
		box-shadow: 0 0 4px rgba(0,0,0,.05);
		margin: 0 auto;
		max-width: 960px;
		padding: 60px 120px;
	}
}
